@page "/logout"
@using BlazorGame.Client.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<link rel="stylesheet" href="css/log-out.css" />
<div class="logout-page-container">
    <div class="logout-overlay"></div>
    <div class="logout-container">
        <img src="images/logo.png" alt="Logo" class="logout-logo" />
        <h3>Déconnexion</h3>
        <p>Vous avez été déconnecté avec succès.</p>

        <button @onclick="GoToLogin">Se reconnecter</button>
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        if (!AuthService.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
        
        AuthService.Logout();
    }

    private void GoToLogin()
    {
        NavigationManager.NavigateTo("/");
    }
}