@page "/room2"
@inject NavigationManager Navigation

<link rel="stylesheet" href="css/Room.css" />
<div class="salle-container">
    <h3>Salle 2</h3>
    <p>Un coffre mystérieux apparaît. Que faites-vous ?</p>

    <div class="actions">
        <button @onclick="Ouvrir">Ouvrir</button>
        <button @onclick="Ignorer">Ignorer</button>
    </div>

    <p class="message">@message</p>
</div>


@code {
    private string message = "Choisissez une action.";

    private void Ouvrir() => message = "Vous avez gagné un artefact !  Cliquez pour découvrir ce que c'est !";
    private void Ignorer()
    {
        message = "Vous ignorez le coffre et passez à la salle suivante.";
        Navigation.NavigateTo("/scores");
    }
}